.makeRed {
  color: red;
  font-weight: 900;
}

.first {
  background-color: lightblue;
}

.last {
  background-color: gray;
}

.even {
  background-color: lightblue;
}

.odd {
  background-color: gray;
}

.makeBlackBg {
  background-color: black;
}
