<h1>Gelir İdaresi Başkanlığı</h1>

<!-- one way data binding  (3 different options)-->

<!-- display data interpolation {{}} -->

<!-- {{50 * 2}} -->
<span>{{title}} app is running!</span>
<br>
<!-- {{getTitle()}}
<p><span class="{{makeRedRef}}">String Interpolation</span></p>
<p><span style.color="{{makeRedStyle}}">String Interpolation</span></p>
<div><img src="{{imageRef}}" width="250" alt="Logo"></div>
<a href="{{apiRef}}">Angular Document</a> -->

<!-- xss -->

<!-- <p>{{script}}</p>
<p>{{div}}</p>

<div [innerHTML]="safeHtml"></div> -->


<!-- property binding []-->
<!-- <p [innerText]="message"></p>
<button [disabled]="isButtonDisabled">Click Me</button>
<div><img [src]="imageRef" width="250" alt="Logo"></div>
<input #inputRef type="text" [value]="dynamicValue" (input)="updateDynamicValue($event)" />
<span>Value: {{dynamicValue}}</span> -->


<!-- event binding () -->
<!-- <button (click)="activateHandler(inputRef)">Activate</button> -->

<!-- 2 way data binding [()] property binding + event binding-->
<!-- <input type="text" name="value" [(ngModel)]="value"> -->
<!-- <input type="text" [ngModel]="value" (ngModelChange)="value = $event"> -->

<!-- <input type="email" name="email" [(ngModel)]="email" (ngModelChange)="emailOnChange($event)"> -->

<!-- <input type="text" name="email" (change)="emailChanged($event)"> -->

